.code-task-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
 
  .task-header {
    justify-items: center;
  }

  .success-message {
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
  }

  .success-message img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .success-message p{
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    align-items: center;
  }
  
  img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  